<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ftpCredentialUsername" value="mameur" />
		<add key="ftpCredentialPassword" value="mameur" />
		<add key="MES" value="ON" />
    <add key="MES_XML_GEN" value="ON" />
		<add key="lblConfiguration" value="14|15|22" />
		<add key="zebraip" value="10.172.5.29" />
		<add key="ItacIp" value="10.172.4.135" />
		<add key="barflowServer" value="TAN2-SV00042" />
		<add key="station" value="TG01-BE-DEP-L02-01" />
		<add key="lablingStation" value="TG01-SMT-SPP-L01-10" />
		<add key="Bin" value="M350" />
		<add key="LeakHours" value="24" />
		<add key="AML" value="M350" />
		<add key="KIT" value="0XXXXXXXX" />
		<add key="HARD" value="AUDI" />
		<add key="LFG" value="0" />
		<add key="GGG" value="AUDI" />
		<add key="PRO" value="VISUAL" />
		<add key="WorkCenter" value="TAESMT08" />
		<add key="itacInterlock" value="Off" />
		<add key="PL" value="1" />
		<add key="comport" value="COM14" />
		<add key="printmode" value="sr" />
		<add key="Href" value="0C" />
		<add key="TRAIT" value="BOOKING" />
		<add key="uptype" value="API" />
		<add key="Ausername" value="operator" />
		<add key="Apassword" value="PASSWORD" />
		<add key="authenticated" value="1" />
		<add key="level" value="-1" />
		<add key="size" value="-1" />
		<add key="lastUpdate" value="-1" />
		<add key="path" value="-1" />
		<add key="zplCode" value="-1" />
		<add key="sleepIntr" value="50000" />
		<add key="appState" value="0" />
		<add key="DBC" value="ON" />
		<add key="DTC" value="TG01" />
		<add key="QLV" value="T" />
		<add key="FLI" value="T" />
		<add key="MLSL" value="T" />
    <add key="APBOPV" value="T" />
		<add key="MATCH" value="1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="dateFormat" value="M/d/yyyy h:m:s tt" />
    <add key="PortIL" value="COM1" />
    <add key="BaudRatesIL" value="9600" />
    <add key="StopBitsIL" value="1" />
    <add key="ParitiesIL" value="None" />
    <add key="DataBitsIL" value="8" />
	</appSettings>
</configuration>